table {background-color:#595959; text-align:left; font-family:Arial, sans-serif;}
td {vertical-align: top; padding: 3px}
.bigheader {font-size: 1.2em; text-align: center}
.sideheader {font-style: italic; text-align: left; vertical-align: top; color: white}
.redtext {color: red}
.orangetext {color: orange}
.graytext {color: #B2AF9E}
.whitetext {color: white}